@import "variables";
* {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}
img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
body {
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    padding: 0;
    margin: 0;
    background-color: #4F30BF;
    color: $text;
    overflow: hidden;
}
.wrapper {
    margin: 0 auto;
    max-width: 414px;
    display: flex;
    justify-content: center;
}
.screen {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
        .logo {
            display: flex;
            flex-direction: column;
            align-items: center;
                .logo-img {
                    width: 56px;
                }
                .logo-title {
                    margin-top: 10px;
                    font-size: 15px;
                    line-height: 20px;
                }
        }
        .text {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            .subtitle {
                opacity: 0.4;
                font-size: 13px;
                line-height: 20px;
            }
            .title {
                font-size: 24px;
                line-height: 32px;
            }
        }
        .button {
            outline: none;
            width: 224px;
            height: 56px;
            border: 0;
            border-radius: 50px;
            align-self: center;
            background-color: $purple;
            color: #fff;
            font-family: Manrope;
            font-weight: bold;
            font-size: 17px;
            line-height: 22px;
        }
        .about-developers {
            .subtitle {
                font-size: 13px;
                line-height: 20px;
                opacity: 0.4;
            }
            .developer {
                font-size: 17px;
                line-height: 24px;
                color: $text;
            }
        }
}
.game-screen {
    width: 100%;
    height: 99vh;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    .score {
        margin-top: 16px;
        width: 250px;
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 12px 6px 6px;
        border-radius: 50px;
        background-color: #fff;
            .logo {
                width: 44px;
            }
            .meters {
                font-size: 22px;
                line-height: 22px;
                margin-right: 16px;
            }
            .speed {
                margin-right: 16px;
                font-size: 15px;
                color: #F17642;
            }
    }
    .game-timer {
        text-align: center;
        margin: 130px auto;
        opacity: 0.2;
        font-weight: bold;
        font-size: 192px;
        line-height: 100%;
    }
    .roll {
        position: absolute;
        left: 50%;
        margin-left: -108px;
        top: 55%;
        margin-top: -72px;
        translate: margin-top ease 240ms;
        z-index: 999;
    }

    .roll__area {
        height: 100vh;
        position: relative;
        left: 97px;
        top: -72px;
        overflow: hidden;
    }

    .rolling-items {
        position: relative;
        right: 20%;
        top: -1576px;
        display: flex;
        flex-direction: column;
    }

    .rolling-items__item {
        margin-top: -10px;
    }

    .start-text {
        position: absolute;
        left: 55%;
        top: 10%;
        text-align: center;
        max-width: 85px;
        font-size: 18px;
        line-height: 20px;
        z-index: 999;
    }
}

.before-screen {
    height: 618px;
    padding: 48px 28px 38px 28px;
    background-image: url(../images/before-background.svg);
}
.after-screen {
    margin: 0 auto;
    height: 552px;
    padding: 48px 25px 38px 25px;
    background-image: url(../images/after-background.svg);
    background-size: 100%;
    .text {
        .purple {
            color: $purple;
        }
    }
    .buttons{
        margin-top: 40px;
    }
        .again {
            margin-top: 10px;
            background: rgba(87, 52, 225, 0.1);
            color: $purple;
        }
}
//classes for JavaScript
.show {
    display: flex;
}

.hide {
    display: none;
}

.ended {
    color: #F17642;
}